<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>forgot-password</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-item lines="full" class="inputs">
      <ion-input type="email" formControlName="email" placeholder="Email" required></ion-input>
    </ion-item>
    <div class="button-class">
      <ion-button type="submit" color="danger" expand="block">Recuperar contraseña</ion-button>
    </div>
  </form>
</ion-content>
